body {
	font-size: 12px;
	font-family: sans-serif;
    background-color: #fff;
}

.nav-bar {
	margin: 10px;

	position: relative;
	width: 480px;
	height: 50px;
	background-color: #c83349;
	border-radius: 8px;
	font-size: 0;
}

.nav-bar a {
	line-height: 50px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

.nav-bar .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

.navHome {
    width: 100px;
}

.navSearch {
    width: 110px;
}

.navRecommended {
    width: 150px;
}

.navMessages {
    width: 120px;
}

.navHome:hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

.navSearch:hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #1abc9c;
}

.navRecommended:hover~.animation {
	width: 150px;
	left: 210px;
	background-color: #1abc9c;
}

.navMessages:hover~.animation {
	width: 120px;
	left: 360px;
	background-color: #1abc9c;
}

.createLoginNav {
  margin: 10px;

	position: relative;
	width: 300px;
	height: 50px;
	background-color: #c83349;
	border-radius: 8px;
	font-size: 0;
}

.createLoginNav a {
	line-height: 50px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

.createLoginNav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

.createAccount {
    width: 200px;
}

.login {
    width: 100px;
}


.createAccount:hover~.animation {
	width: 200px;
	left: 0;
	background-color: #1abc9c;
}

.login:hover~.animation {
	width: 100px;
	left: 200px;
	background-color: #1abc9c;
}

.top-bar{
    display: flex;
    justify-content: space-between;
}

.landing-banner-image {
    width:100%;
    min-width: 500px;
    height: 200px;
    min-height: 100px;   
}

.splash-text {
    background: rgba(0, 0, 0, 60%);
    color: white;
    
    text-align: center;
    font-size: 6vw;
    
    font-family: 'Dancing Script', cursive;
    
    margin: 0;
    position: absolute;
    top: 30%;
    width: 100%;
}

.title-card{
    padding: 0px;
    margin: 0px;
}


.top-bar{
    display: flex;
    justify-content: space-between;
}


#icon {
    height: 50px;
    width: 50px;
}

/***********************************************************/
/* Create Account/Login Page */

.form-header{
    font-size: 2em;
    font-family: sans-serif;
}

.form-div{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.sub-form-div{
    background-color: rgb(255,255,255, 50%);
    
    border: 1px;
    border-color: grey;
    border-radius: 4px;
    border-style: solid;
    padding: 2em;
    vertical-align: top;
    margin-right: 5vw;
}

.account-field{
    border-color: rgb(220,220,220);
    border-radius: 2px;
    margin: 5px 0;
    padding: 5px 10px;
    width: 200px;
}

.create-account-submit{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 2px 0;
    padding: 10px 20px;
    width: 225px;
    align-content: center;
}

.vertical-line-div{
    border-left: 6px; 
    border-style: solid;
    border-color: grey;
    height: 360px;
    margin-right: 5vw;
}

/*************************************************************/

.form-header{
    font-size: 2em;
}

.splash-bottom{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 0.9vw;
}

.landing-page{
    background: url(resources/splash.jpg) no-repeat center center fixed;
    background: ;
    background-size: cover;
}

#icon {
    height: 50px;
    width: 50px;
}

/*************************************************************/
/* Account Management*****************************************/

#mainDivAccountManagement, #main-div-view-other{
    position: absolute;
    display: flex;
    justify-content: center;
}

#profileBodyDiv-Left, #profile-body-div-left-readonly{
    background: rgba(255,255,255,50%);
    border-radius: 10px;
    
    padding: 6vw;
}
#reviewsAccountManagement-Right, #reviews-account-management-right-readonly{
    background: rgba(255,255,255,50%);
    border-radius: 10px;
    padding: 2vw;
}

#profilePic, #profile-pic-div-readonly, #admin-profile-pic{
    border-radius: 50%;
    width: 185px;
    height: 185px;
    object-fit: cover;
    object-position: 20% 10%;
}

#aboutMeDiv, #about-me-div-readonly{
    display: flex;
    padding: 1%;
    border: none;
    height: 220px;
}

#aboutMeBody, #about-me-body-readonly{
    height: 100px;
    width: 450px;
    position: relative;
}

#aboutMeTitle, #about-me-title-readonly{
    margin: auto;
    position: absolute;
    top: -10px;
    left: 5px;
    height: 20px;
    width: 100px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

#aboutMeInput, #about-me-input-readonly{
    padding-top: 2%;
}

.frameBodyAccountManagement {
    align-items: center;
    height: 30px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    flex-grow: 1;
    margin: 6px;
}

.frameTitleAccountManagement {
    position: absolute;
    top: -10px;
    left: 5px;
    height: 20px;
    width: 80px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    
}


#picCircle, {
    border-radius: 50%;
    width: 148px;
    height: 100px;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}

#profilePicDiv, #profile-pic-div-readonly{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 3%;
}

#sexGenderDiv, #sex-gender-div-readonly{
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
}

#sexBoxInput, #sex-box-input-readonly{
    width: 96%;
    padding-top: 5%;
}

#ageBoxInput, #age-box-input-readonly{
    width: 96%;
    padding-top: 5%;
}

#lookingForBoxInput, #looking-for-box-input-readonly{
    width: 96%;
    padding-top: 5%;
}

#jobTitleBoxInput, #job-title-box-input-readonly{
    width: 98%;
    padding-top: 2%;
}

#locationBoxInput, #location-box-input-readonly{
    width: 98%;
    padding-top: 2%;
}

#genderSelectionMenu, #gender-selection-menu-readonly{
    padding-top: 5%;
    width: 100%;
}


#ageLookingForDiv, #age-looking-for-div-readonly{
    display: flex;
    margin: auto;
    padding-top: 3%;
}

#jobTitleDiv, #job-title-div-readonly{
    display: flex;
    padding-top: 4%;
}

#locationDiv, #location-div-readonly{
    display: flex;
    padding-top: 4%;
}

#saveChangesDiv{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

#sign-out-div{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

#saveChangesButton{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
}

#sign-out-button{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
}

/*************************************************************/
/* Account Management - Reivews*******************************/

#reviewsLabelDiv, #reviews-label-div-readonly{
    text-align: center;
    background-color: rgb(220,220,220);
    font-size: 40px;
    height: 50px;
    padding: 3px;
    width: 1040px;
    
}

.reviews-space-div{
    height: 3vw;
}

.vertical-line-div2{
    border: 0px;
    border-style: solid;
    border-color: grey;
    margin-right: 5vw;
    
    background: rgba(255,255,255,50%);
}


.review-parent-div{
    display: flex;
    border: 1px;
    border-style: solid;
    height: 150px;
    padding: 1vw;
    margin-top: 2vw;
    width: 970px;
}

.reviewProfilePic{
    border-radius: 50%;
    width: 118px;
    height: 118px;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}



.reveiw-text-area{
    border: 1px solid black;
}

.messages-div{
    padding-top: 5%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,50%)
}

.users {
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-history{
    flex-grow: 3;
    
    display: flex;
    flex-direction: column;
}

.users-label{
    margin: auto;
    
    width: 200px;
    border-radius: 8px;
    border: solid #000;
    border-width: 1px;
    background-color: #c83349;
    color: white;
}

.message-history-label{
    margin: auto;
    
    border-radius: 8px;
    border: solid #000;
    border-width: 1px;
    background-color: #c83349;
    color: white;
    
    width: 300px;
}

.users-messages-divider{
    border: 0px;
    border-left: 1px; 
    border-style: solid;
    border-color: black;
    
    padding-left: 1%;
}

.users-placeholder{
    word-break: break-all;
}

.match-button{
    width: auto;
    height: 50px;
    
    text-align: center;
    margin: auto;
    
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 10%;
    
    background-color: #c83349;
    color: white;
    
}

hr {
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    
    width: 100%;
}

/**************************************************************
    View Others Profile***************************************/

.reviews-label-div-readonly{
    display: flex;
    height: 50px;
    justify-content: center;
    padding-top: 1vw;
    width: 1040px;
}

.add-review-button-class{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
}

/**************************************************************
    Search Recommneded ***************************************/

.search-recommended-main-div{
    display: flex;
    justify-content: space-between; 
}
.search-sub-div{
    margin-left: 41vw;
    margin-top: 5em;
}

#search-text{
    width: 300px;
    height: 2.2em;
    border-radius: 8px;
    border-width: thin;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#search-button{
    height: 2.6em;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
}

#recommended-button{
    height: 2.6em;
    margin-right: 8vw;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 4.3em;
}

.search-result-recommended-parent-div{
    display: flex;
    margin: 2em;
    padding: 2em;
    justify-content: center;
    background: rgba(255,255,255, 50%);
}

.review-rating-id{
    margin: 1em;
}

.seach-profile-button-div {
    padding-left: 4em;
}

#search-profile-view-button, #search-profile-message-button{
    margin: 0.5em;
    height: 2.6em;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20%;
}

.profile-username{
    text-align: center;
    font-size: 17px;
    padding: 0;
}

.search-profile-aboutme-text-area{
    margin-top: 1em;
    margin-bottom: 0.8em;
}

/**************************************************************
    Admin page ***************************************/

.admin-reported-header{
    align-content: center;
    text-align: center;
    font-size: 60px;
    background-color: rgba(255,255,255,50%);
    padding: 0.3em;
}

.admin-reported-account-main-div{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: rgba(255,255,255,50%);
    font-size: 20px;
    border: 2px;
    border-style: solid;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#admin-date-reported-text{
    padding-right: 108px;
}

#admin-profile-pic-div{
    padding-left: 20px;   
}

.admin-buttons-div{
    display: flex;
    justify-content: space-around;
}

#admin-delete-button, #admin-ignore-button{
    height: 3.5em;
    width: 10em;
    background-color: rgb(15,25,25);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 1.5em;

}