nav {
	margin: 10px;

	position: relative;
	width: 460px;
	height: 50px;
	background-color: darkgrey;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
 

nav a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

nav a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

nav :nth-child(3):hover~.animation {
	width: 150px;
	left: 210px;
	background-color: #3498db;
}

nav a:nth-child(4):hover~.animation {
	width: 100px;
	left: 360px;
	background-color: darkcyan;
}


.createLoginNav{
    
    
    
}

.create-account{
    display: fled;
    flex-direction: row;
}


.top-bar{
    display: flex; 
    justify-content: space-between;
}

.navbar {}

.create-login {}










body {
	font-size: 12px;
	font-family: sans-serif;
    background-color: #fff;
}

#icon {
    height: 50px;
    width: 50px;
}

#mainDivAccountManagement{
    display: flex;
    flex-direction: row;
}

#profileBodyDiv-Left{
    margin: auto;
}

#profilePic{
    border-radius: 50%;
    width: 185px;
    height: 185px;
    object-fit: cover;
    object-position: 20% 10%;
}

#aboutMeDiv{
    display: flex;
    padding: 1%;
}

#aboutMeBody{
    height: 100px;
    width: 450px;
    border: 1px solid black;
    position: relative;
}

#aboutMeTitle{
    margin: auto;
    position: absolute;
    top: -10px;
    left: 5px;
    height: 20px;
    width: 100px;
    background-color: white;
    text-align: center;
}

#aboutMeInput{
    padding-top: 2%;
}

.frameBodyAccountManagement {
    align-items: center;
    height: 30px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    flex-grow: 1;
}

.frameTitleAccountManagement {
    margin: auto;
    position: absolute;
    top: -10px;
    left: 5px;
    height: 20px;
    width: 80px;
    background-color: white;
    text-align: center;
}


#picCircle{
    border-radius: 50%;
    width: 148px;
    height: 100px;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}

#profilePicDiv{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 3%;
}

#sexGenderDiv{
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
}

#sexBoxInput{
    width: 96%;
    padding-top: 5%;
}

#ageBoxInput{
    width: 96%;
    padding-top: 5%;
}

#lookingForBoxInput{
    width: 96%;
    padding-top: 5%;
}

#jobTitleBoxInput{
    width: 98%;
    padding-top: 2%;
}

#locationBoxInput{
    width: 98%;
    padding-top: 2%;
}

#genderSelectionMenu{
    padding-top: 5%;
    width: 100%;
}


#ageLookingForDiv{
    display: flex;
    margin: auto;
    padding-top: 3%;
}

#jobTitleDiv{
    display: flex;
    padding-top: 4%;
}

#locationDiv{
    display: flex;
    padding-top: 4%;
}

#saveChangesDiv{
    display: flex;
    justify-content: center;
}

#saveChangesButton{
    display: flex;
    margin: 4%;
}

#reviewsLabelDiv{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 100%;
}
