body {
	font-size: 12px;
	font-family: sans-serif;
    background-color: #fff;
}

.nav-bar {
	margin: 10px;

	position: relative;
	width: 480px;
	height: 50px;
	background-color: #c83349;
	border-radius: 8px;
	font-size: 0;
}

.nav-bar a {
	line-height: 50px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

.nav-bar .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

.navHome {
    width: 100px;
}

.navSearch {
    width: 110px;
}

.navRecommended {
    width: 150px;
}

.navMessages {
    width: 120px;
}

.navHome:hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

.navSearch:hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #1abc9c;
}

.navRecommended:hover~.animation {
	width: 150px;
	left: 210px;
	background-color: #1abc9c;
}

.navMessages:hover~.animation {
	width: 120px;
	left: 360px;
	background-color: #1abc9c;
}

.createLoginNav {
    margin: 10px;

	position: relative;
	width: 250px;
	height: 50px;
	background-color: #c83349;
	border-radius: 8px;
	font-size: 0;
}

.createLoginNav a {
	line-height: 50px;
	height: 100%;
	font-size: 16px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

.createLoginNav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

/*unused*/
.createAccount {
    width: 200px;
}

.login {
    width: 250px;
}

/*unused*/
.createAccount:hover~.animation {
	width: 200px;
	left: 0;
	background-color: #1abc9c;
}

.login:hover~.animation {
	width: 250px;
	left: 0;
	background-color: #1abc9c;
}

.top-bar{
    display: flex;
    justify-content: space-between;
}

.landing-banner-image {
    width:100%;
    min-width: 500px;
    height: 200px;
    min-height: 100px;   
}

.splash-text {
    background: rgba(0, 0, 0, 60%);
    color: white;
    
    text-align: center;
    font-size: 6vw;
    
    font-family: 'Dancing Script', cursive;
    
    margin: 0;
    position: absolute;
    top: 30%;
    width: 100%;
}

.title-card{
    padding: 0px;
    margin: 0px;
}


.top-bar{
    display: flex;
    justify-content: space-between;
}


#icon {
    height: 50px;
    width: 50px;
}

/***********************************************************/
/* Create Account/Login Page */

.form-header{
    font-size: 2em;
    font-family: sans-serif;
}

.form-div{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.sub-form-div{
    background-color: rgb(255,255,255, 50%);
    
    border: 0px;
    border-color: grey;
    border-radius: 4px;
    border-style: solid;
    padding: 2em;
    vertical-align: top;
    margin-right: 5vw;
}

.account-field{
    border-color: rgb(220,220,220);
    border-radius: 2px;
    margin: 5px 0;
    padding: 5px 10px;
    width: 200px;
}

.create-account-submit{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin: 2px 0;
    padding: 10px 20px;
    width: 225px;
    align-content: center;
}

.vertical-line-div{
    border-left: 6px; 
    border-style: solid;
    border-color: grey;
    height: 360px;
    margin-right: 5vw;
}

/*************************************************************/

.form-header{
    font-size: 2em;
}

.splash-bottom{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 0.9vw;
}

.landing-page{
    background: url(resources/splash.jpg) no-repeat center center fixed;
    background: ;
    background-size: cover;
}

#icon {
    height: 50px;
    width: 50px;
}

/*************************************************************/
/* Account Management*****************************************/

#mainDivAccountManagement, #main-div-view-other{
    position: absolute;
    display: flex;
    
    justify-content: center;
}

#profileBodyDiv-Left, #profile-body-div-left-readonly{
    background: rgba(255,255,255,50%);
    border-radius: 10px;
    
    padding: 6vw;
    
}
#reviewsAccountManagement-Right, #reviews-account-management-right-readonly{
    background: rgba(255,255,255,50%);
    border-radius: 10px;
    padding: 2vw;
}

#profilePic, #profile-pic-div-readonly, #admin-profile-pic, #profile-pic-readonly{
    border-radius: 50%;
    width: 185px;
    height: 185px;
    object-fit: cover;
    object-position: 20% 10%;
}

#aboutMeDiv, #about-me-div-readonly{
    display: flex;
    padding: 1%;
    padding-top: 8%;
    border: none;
    height: 220px;
}

#aboutMeBody, #about-me-body-readonly{
    height: 100px;
    width: 450px;
    position: relative;
}

#aboutMeTitle, #about-me-title-readonly{
    margin: auto;
    position: absolute;
    top: -10px;
    left: 5px;
    height: 20px;
    width: 100px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

#aboutMeInput, #about-me-input-readonly{
    padding-top: 2%;
}

.frameBodyAccountManagement {
    align-items: center;
    height: 30px;
    width: 200px;
    border: 1px solid black;
    position: relative;
    flex-grow: 1;
    margin: 6px;
}

.frameTitleAccountManagement {
    position: absolute;
    top: -10px;
    left: 5px;
    height: 20px;
    width: 80px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    
}


#picCircle, {
    border-radius: 50%;
    width: 148px;
    height: 100px;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}

#profilePicDiv, #profile-pic-div-readonly{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 3%;
}

#sexGenderDiv, #sex-gender-div-readonly, #name-personality-pair, #name-personality-pair-read-only{
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
}

#sexBoxInput, #sex-box-input-readonly, #nameBoxInput, #personalityBoxInput{
    width: 96%;
    padding-top: 5%;
}

#ageBoxInput, #age-box-input-readonly{
    width: 96%;
    padding-top: 5%;
}

#lookingForBoxInput, #looking-for-box-input-readonly{
    width: 96%;
    padding-top: 5%;
}











#nameBoxInput-read-only, #personalityBoxInput-read-only{
    background: rgba(255,255,255,50%);
    width: 96%;
    padding-top: 5%;
    pointer-events: none;
}

#jobTitleBoxInput, #job-title-box-input-readonly{
    width: 98%;
    padding-top: 2%;
}

#locationBoxInput, #location-box-input-readonly{
    width: 98%;
    padding-top: 2%;
}

#genderSelectionMenu, #gender-selection-menu-readonly, #personality-selection
{
    padding-top: 5%;
    width: 100%;
}


#ageLookingForDiv, #age-looking-for-div-readonly{
    display: flex;
    margin: auto;
    padding-top: 3%;
}

#jobTitleDiv, #job-title-div-readonly{
    display: flex;
    padding-top: 4%;
}

#locationDiv, #location-div-readonly{
    display: flex;
    padding-top: 4%;
}

#saveChangesDiv{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

#sign-out-div{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

#saveChangesButton{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
}

#sign-out-button{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
}

/*************************************************************/
/* Account Management - Reivews*******************************/
.image-upload>input {
  display: none;
}


#reviewsLabelDiv, #reviews-label-div-readonly{
    text-align: center;
    background-color: rgb(220,220,220);
    font-size: 40px;
    height: 50px;
    padding: 3px;
    width: 1040px;
    
}

.reviews-space-div{
    height: 3vw;
}

.vertical-line-div2{
    border: 0px;
    border-style: solid;
    border-color: grey;
    margin-right: 5vw;
    
    background: rgba(255,255,255,50%);
}


.review-parent-div{
    display: flex;
    border: 1px;
    border-style: solid;
    height: 150px;
    padding: 1vw;
    margin-top: 2vw;
    width: 970px;
}

.review-image-div
{
    display: flex;
    flex-direction: column;
    
}

.reviewProfilePic{
    border-radius: 50%;
    width: 118px;
    height: 118px;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    padding-bottom: 0px;
}

.review-profile-pic-name
{
    position: relative;
    text-align: center;
}



.reveiw-text-area{
    border: 1px solid black;
}

.messages-div{
    padding-top: 5%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,50%);
    border-radius: 10px;
}

.users {
    width: 300px;
    flex-grow: 1;
}

.message-history{
    flex-grow: 3;
    
    display: flex;
    flex-direction: column;
}

.users-label{
    margin: auto;
    
    width: 200px;
    border-radius: 8px;
    border: solid #000;
    border-width: 1px;
    background-color: #c83349;
    color: white;
}

.message-history-label{
    margin: auto;
    
    border-radius: 8px;
    border: solid #000;
    border-width: 1px;
    background-color: #c83349;
    color: white;
    
    width: 300px;
}

.users-messages-divider{
    border: 0px;
    border-left: 1px; 
    border-style: solid;
    border-color: black;
    
    padding-left: 1%;
}

.users-placeholder{
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.match-button{
    width: auto;
    height: 50px;
    
    text-align: center;
    margin: auto;
    
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 10%;
    
    background-color: #c83349;
    color: white;
}

hr {
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    
    width: 100%;
}

/**************************************************************
    View Others Profile***************************************/

.reviews-label-div-readonly{
    display: flex;
    height: 50px;
    justify-content: center;
    padding-top: 1vw;
    width: 1040px;
}

.add-review-button-class, #report-account-button{
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    width: 225px;
    text-align: center;
}

.report-account-button-div{
    display: flex;
    justify-content: center;
}

#report-account-button{
    margin-top: 1em;
}

.profile-review-name-label-class{
    font-size: 13px;
    font-weight: bold;
    padding: 0.3em;
    text-align: center;
}

.review-image-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**************************************************************
    Search Recommended ***************************************/

.serach-div{
    max-height: 100%;
}

.search-recommended-main-div{
    display: flex;
    justify-content: center; 
    
    max-height: 100%;
}
.search-sub-div{
    margin-top: 5em;
}

#search-text{
    width: 300px;
    height: 2.2em;
    border-radius: 8px;
    border-width: thin;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#search-button{
    height: 2.6em;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
}

#recommended-button{
    height: 2.6em;
    margin-right: 8vw;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 4.3em;
}

.search-result-recommended-parent-div{
    display: flex;
    margin: 2em;
    padding: 2em;
    justify-content: center;
    background: rgba(255,255,255, 50%);
    border-radius: 10px;
}

.review-rating-id{
    margin: 1em;
}

.seach-profile-button-div {
    display: flex;
    flex-direction: row;
    padding-left: 4em;
}

.search-profile-view-button, .search-profile-message-button{
    margin: 0.5em;
    height: 2.6em;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20%;
    width: 100px;
}

.profile-username{
    text-align: center;
    font-size: 17px;
    padding: 0;
}

.search-profile-aboutme-text-area{
    margin-top: 1em;
    margin-bottom: 0.8em;
}

/**************************************************************
    Admin page ***************************************/

.admin-reported-header{
    align-content: center;
    text-align: center;
    font-size: 60px;
    background-color: rgba(255,255,255,50%);
    padding: 0.3em;
}

.admin-reported-account-main-div{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: rgba(255,255,255,50%);
    font-size: 20px;
    border: 2px;
    border-style: solid;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#admin-date-reported-text{
    padding-right: 108px;
}

#admin-profile-pic-div{
    padding-left: 20px;   
}

.admin-buttons-div{
    display: flex;
    justify-content: space-around;
}

#admin-delete-button, #admin-ignore-button, #admin-sign-out-button{
    height: 3.5em;
    width: 10em;
    background-color: rgb(15,25,25);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 1.5em;
}

.admin-sign-out-div{
    display: flex;
    flex-direction: row-reverse;
}

/************************************************************
    Messages page ******************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.message-container-div {
    padding: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
}

.message-blue-div {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-orange-div {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue-div:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue-div:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange-div:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange-div:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.send-message-div{
    padding: 2px;
}

#send-message-text{
    width: 350px;
    height: 25px; 
    padding: 5px;
    border: 1px;
    border-radius: 8px;
    border-style: solid;
}

#send-message-button{
    margin: 0.5em;
    height: 2.6em;
    background-color: #f8e896;
    border: none;
    border-radius: 8px;
    color: back;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    margin-top: 5%;
}



/*******************************************************************
    Form **********************************************************/


@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window {
    width: 100%;
    max-width: 600px;
    background: white;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm__title {
    font-weight: bold;
    font-size: 1.1em;
}

.confirm__close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: #ffffff;
    transition: color 0.15s;
}

.confirm__close:hover {
    color: #ff0000;
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
}

.confirm__buttons {
    background: #eeeeee;
    display: flex;
    justify-content: flex-end;
}

.confirm__button {
    padding: 0.4em 0.8em;
    border: 2px solid #009879;
    border-radius: 5px;
    background: #ffffff;
    color: #009879;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill {
    background: #009879;
    color: #ffffff;
}

.confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@keyframes confirm---open {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes confirm---close {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes confirm__window---open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/*
.report-submit-button-div{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#report-submit-button{
    background-color: grey;
    border: none;
    border-radius: 8px;
    color: back;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
}

#report-text-id{
    resize: none;
    columns: 10;
    display: flex;
    justify-content: center;
    margin: 10px;
}
*/

.scrollable
{
    max-height: 100em;
    overflow-y: scroll;
}

.scrollable-message
{
    display: flex;
    flex-direction: column;
    max-height: 70em;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar,.scrollable-message::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable,.scrollable-message {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
